<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ajouter une rotation</title>
		<link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<!-- Google Fonts Roboto -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
		<!-- Material Design Bootstrap -->
		<link rel="stylesheet" href="{{asset('css/mdb.min.css')}}">
		<link rel="stylesheet" href="{{asset('css/main.css')}}">
		<link rel="stylesheet" href="{{asset('js/leaflet/leaflet.css')}}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>

		<style>
    	  .map {
    	    height: 300px;
    	    width: 100%;
    	  }
    	</style>
	</head>
	
	<body>
		
{% if result != null %}
<div class="alert alert-success">
  {{result}}
</div>
{% endif %}
<div class="row1" id="navbar">
	<div class="col-xs-2">
	  <nav class="aside " >
		  <h2 class="page-title" style="color:#2274BF;"><b>Planifier une rotation</b></h2>
		  
		  <div class="btn-group-vertical" style="width: 96%;">
  
		  <a class="btn-menu" href="{{path('dashboard')}}" style="padding-left: 0px; ">
			  <i class="fas fa-tachometer-alt"></i>
				   &nbsp;<b> Home </b><span class="sr-only">(current)</span>
		  </a> 

		  <a class="btn-menu" style="padding-left: 0px;" href="{{path('charts')}}">
			  <i class="far fa-chart-bar"></i>
			  &nbsp; <b> Chart </b>
		  </a> 

		  <a class="btn-menu dropdown-toggle mr-4" data-toggle="collapse" data-target="#submenu1" style="padding-left: 0px;  color: rgb(132, 132, 132); ">
			  <i class="fas fa-table"></i>
			  &nbsp; <b>Tables</b>
		  </a>
			  <div class="collapse" id="submenu1" aria-expanded="false" style="width: 100%;">
				  <ul class="flex-column pl-2 nav">
					  <a class="nav-item md btn-sub-menu" href="{{path('tournees')}}"><small>Tournees</small></a>
					  <a class="nav-item md btn-sub-menu" href="{{path('pointsIndex')}}"><small>Points</small></a>
					  <a class="nav-item btn-sub-menu" href="{{path('vehiclesIndex')}}"><small>Véhicules</small></a>
					  <a class="nav-item btn-sub-menu" href="{{path('bacsIndex')}}"><small>Bacs</small></a>
					  <a class="nav-item btn-sub-menu" href="{{path('employesIndex')}}"><small>Employés</small></a>
				  </ul>
			  </div>
			  
		  <a class="btn-menu" href="{{path('maps')}}" style="padding-left: 0px;">
			  <i class="fas fa-map-marked-alt"></i>
			  &nbsp; <b>Maps</b> 
		  </a> 
		  {% if is_granted("ROLE_ADMIN")%}
		  <a class="btn-menu" style="padding-left: 0px;" href="{{path('analyseVrp')}}">
			  <i class="fas fa-edit"></i>
			  &nbsp; <b>Analyse </b>
		  </a>
		  <a class="btn-menu" href="{{path('addUser')}}" style="padding-left: 0px;"><i class="fas fa-user-alt"></i>&nbsp;&nbsp;&nbsp;<b>users</b></a>
		  {% endif %}
		  <a class="btn-menu" href="{{path('logout')}}"><i class="fas fa-sign-out-alt"></i>&nbsp; Déconnexion</a>
		  </div>
	  </nav>
  </div>
</div>
<div class="col-xs-9">
	<div class="interface">
	  	<div id="main_content">
			<form method="POST" action="{{path('addTournee')}}">
				<div class="form-row">
					<div class="form-group col-md-4">
					<label for="inputLibelle">Secteur:</label>
					<select name="secteur" id="secteurs" class="form-control" onchange="setVehicles()">
							<option selected>Choisir Secteur</option>
						{% for secteur in secteurs %}
						<option value="{{secteur.code}}">{{secteur.code}}</option>
						{% endfor %}
					</select>
					</div>

					<div class="form-group col-md-4">
						<label for="inputLatitude">véhicule</label>
						<select name="vehicle" id="vehicules" class="form-control">
						{%for vehicle in vehicles %}
							<option value="{{vehicle.code}}"> {{vehicle.code}}_{{vehicle.matricule}}_{{vehicle. genre}}</option>
						{% endfor %}
						</select>
					</div>

					<div class="form-group col-md-4">
						<label for="inputCode">Date:</label>
						<input type="date" class="form-control" name="date" id="date">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label>Heure démarrage:</label>
						<input type="time" name="heure_demarrage_parc" id="heure" class="form-control">
					</div>

					<div class="form-group col-md-4">
						<label for="inputLatitude">CET</label>
						<select name="cet" id="cet" class="form-control">
							<option value="CET01">CET CORSO</option>
							<option value="CET02">CET HAMICI</option>
						</select>
					</div>
					<div class="form-group col-md-4">
					<label for="inputLongitude">Equipe</label>
					<select name="equipe" id="equipe" class="form-control">
							{% for equipe in equipes %}
								<option value="{{equipe.id}}">{{equipe.id}}</option>
							{% endfor %}
							<option value="2">2</option>
					</select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label >Quantité prévue:</label>
						<input type="number" step="0.01" min="0" name="qte_prevue" id="qte_prevue" class="form-control">
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Ajouter</button>
			</form>
			<div id="map" class="map"></div>
		</div>
	</div>
</div>

<script>
	function processAjaxData(response, urlPath){
		document.getElementById("main_content").innerHTML = response.html;
		document.title = response.pageTitle;
		window.history.pushState({"html":response.html,"pageTitle":response.pageTitle},"", urlPath);
	}
	window.onpopstate = function(e){
		if(e.state){
			document.getElementById("main_content").innerHTML = e.state.html;
			document.title = e.state.pageTitle;
		}
	};

</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{{asset('js/leaflet/leaflet.js')}}"></script>
<script src="{{asset('js/leaflet/esriservices/esri-leaflet.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
<script src=" https://cdn.rawgit.com/hayeswise/Leaflet.PointInPolygon/v1.0.0/wise-leaflet-pip.js"></script>

<!-- jQuery -->
<script type="text/javascript" src="{{asset('js/jquery.min.js')}}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{asset('js/popper.min.js')}}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{asset('js/mdb.min.js')}}"></script>



<script>
	var map = L.map('map',{ drawControl: true }).setView([36.7206251, 3.1854975], 13);
	L.esri.basemapLayer('Topographic').addTo(map);

	$.ajax({url:"{{path('getSecteurs')}}",
		success: function(response){
			var selected

			var secteurs = JSON.parse(response);
			
			window.lyrSecteurs = L.geoJSON(secteurs.features).on('click', function (e) {
					// Check for selected
					if (selected) {
						// Reset selected to default style
						e.target.resetStyle(selected)
					}
					// Assign new selected
					selected = e.layer
					// Bring selected to front
					selected.bringToFront()
					// Style selected
					selected.setStyle({
						'color': 'red'
					})
					// change secteur
					document.getElementById("secteurs").value = selected.toGeoJSON().properties.code;
					setVehicles();
				}).addTo(map);

		},
		error: function e(error){
			alert("erreur");
		}
	});
</script>

  <script>
	  $.ajax({url: "{{path('getSecteursVehiclesEquipes')}}",
			success: function(response){
				result = JSON.parse(response);

				window.vehicules = result.vehicules;
				window.secteurs = result.secteurs;
				window.equipes = result.equipes;
			},
			error: function e(error){
				alert("Error: "+ error);
			}
		});

		var url = '{{path("tourneesEnAttente")}}';
		$.ajax({
			url: url,
			success: function(response){
				window.tournees = JSON.parse(response);
			},
			error: function(error){
				alert("Erreur: " + error);
			}
		});

    function setVehicles(){
		

		$('#vehicules').empty();

		var select_vehicle = document.getElementById("vehicules");
		var secteur = document.getElementById("secteurs").value;
		var date = document.getElementById("date").value;
		var heure = document.getElementById("heure").value;
		var select_equipe = document.getElementById("equipe");
		window.secteurs.forEach(function(obj) {
			if(obj.code == secteur){
				window.vehicules.forEach(function(vehicle){
					if(vehicle.code == obj.vehicule){
						var existe = false;
						
						var date_saisie = new Date(date);
						if(existe == true && date_saisie.getTime() != window.date_tournee.getTime()){
							opt = document.createElement('option');
							opt.appendChild( document.createTextNode(vehicle.code + "_" + vehicle.matricule + "_" + vehicle.genre+"_"+vehicle.volume));
							opt.value = vehicle.code;
							select_vehicle.appendChild(opt);
						}else{ 
							if(existe == false){
								opt = document.createElement('option');
								opt.appendChild( document.createTextNode(vehicle.code + "_" + vehicle.matricule + "_" + vehicle.genre + "_" + vehicle.volume));
								opt.value = vehicle.code;
								select_vehicle.appendChild(opt);
							}	
						}
					}
				});

				document.getElementById("heure").value = obj.horaire;
				document.getElementById("qte_prevue").value = obj.qtedechet;
			}
		});
		

	} 
  </script>
</body>
</html>