<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Modifier une rotation</title>
		<link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<!-- Google Fonts Roboto -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
		<!-- Material Design Bootstrap -->
		<link rel="stylesheet" href="{{asset('css/mdb.min.css')}}">
		<link rel="stylesheet" href="{{asset('css/main.css')}}">
		<link rel="stylesheet" href="{{asset('js/leaflet/leaflet.css')}}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>

		<style>
    	  .map {
    	    height: 300px;
    	    width: 100%;
    	  }
    	</style>
	</head>
	
	<body>
		<div class="navbar navbar-expand-lg fixed-top top-nav">
			<a href="#" class="navbar-brand font-weight-bold">
				GDMA Bab Ezzouar
			</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
			{% if is_granted('ROLE_SUPERUSER')%}
				
				  <ul class="navbar-nav">
					<li class="nav-item active">
					  <a class="nav-link" href="{{path('dashboard')}}"><i class="fas fa-tachometer-alt"></i>
						&nbsp;<strong> Tableau de bord </strong><span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="collapse" data-target="#submenu2" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-table"></i>
						&nbsp; <strong>Tables</strong>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown" id="submenu2">
						  <a class="dropdown-item btn-drop-menu" href='{{path("pointsIndex")}}'><b><i class="fas fa-map-marker-alt"></i> &nbsp; &nbsp; Points</b></a>
						  <a class="dropdown-item btn-drop-menu" href='{{path("bacsIndex")}}'><b><i class="fas fa-dumpster"></i> &nbsp; &nbsp; Bacs</b></a>
						  <a class="dropdown-item btn-drop-menu" href='{{path("vehiclesIndex")}}'><b><i class="fas fa-truck-moving"></i> &nbsp; &nbsp; Véhicules</b></a>
						  <a class="dropdown-item btn-drop-menu" href='{{path("tournees")}}'><b><i class="fas fa-route"></i> &nbsp;&nbsp; Rotations</b></a>
						  <a class="dropdown-item btn-drop-menu" href='{{path("employesIndex")}}'><b><i class="fas fa-user-alt"></i> &nbsp; &nbsp; Employés</b></a>
						</div>
					  </li>
					<li class="nav-item">
					  <a class="nav-link" href="{{path('maps')}}"><i class="fas fa-map-marked-alt"></i>
						&nbsp; <strong>Maps</strong> </a>
					</li>
					{% if is_granted("ROLE_ADMIN")%}
					<li class="nav-item">
					  <a class="nav-link" href="{{path('analyseVrp')}}"><i class="fas fa-route"></i>
						&nbsp; <strong>Analyse VRP </strong></a>
					</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="{{path('planCollecte')}}">
							<i class="fas fa-calendar-alt"></i>
							&nbsp; <strong>Plan de collecte </strong>
						</a>
					</li>
					{% if is_granted("ROLE_ADMIN")%}
					<li class="nav-item">	
						<a class="nav-link" href="{{path('addUser')}}">
							<i class="fas fa-user-alt"></i>
							&nbsp;<b>Utilisateurs</b></a>
					</li>
					{% endif %}
					
			{%endif %}

			<ul class="navbar-nav ml-auto">
					  <li class="nav-item"><a class="nav-link logout" href="{{path('logout')}}" ><i class="fas fa-sign-out-alt"></i>&nbsp; Déconnexion </a> 
					  </li>
			</ul>
			</div>
		</div>

<div class="row1" id="navbar">
          	<div class="col-xs-2">
            	<nav class="aside " >
					<h2 class="page-title" style="color:#2274BF;"><strong>Modifer une rotation</strong></h2>
					<div class="btn-group-vertical" style="width: 96%;">
			
					<a class="btn-menu" href="{{path('dashboard')}}" style="padding-left: 0px; ">
						<i class="fas fa-tachometer-alt"></i>
						 	&nbsp;<strong> Tableau de bord </strong><span class="sr-only">(current)</span>
					</a> 

					<a class="btn-menu" style="padding-left: 0px;" href="{{path('charts')}}">
						<i class="far fa-chart-bar"></i>
						&nbsp; <strong> Statistiques </strong>
					</a> 

					<a class="btn-menu dropdown-toggle mr-4" data-toggle="collapse" data-target="#submenu1" style="padding-left: 0px;  color: rgb(77, 77, 77); ">
						<i class="fas fa-table"></i>
						&nbsp; <strong>Tables</strong>
					</a>
                    	<div class="collapse" id="submenu1" aria-expanded="false" style="width: 100%;">
							<ul class="flex-column pl-2 nav submenu-list">
								<a class="nav-item md btn-sub-menu" href="{{path('tournees')}}"><b><i class="fas fa-route"></i> &nbsp;&nbsp; Rotations</b></a>
								<a class="nav-item md btn-sub-menu" href="{{path('pointsIndex')}}"><b><i class="fas fa-map-marker-alt"></i> &nbsp; &nbsp; Points</b></a>
								<a class="nav-item btn-sub-menu" href="{{path('vehiclesIndex')}}"><b><i class="fas fa-truck-moving"></i> &nbsp; &nbsp; Véhicules</b></a>
								<a class="nav-item btn-sub-menu" href="{{path('bacsIndex')}}"><b><i class="fas fa-dumpster"></i> &nbsp; &nbsp; Bacs</b></a>
								<a class="nav-item btn-sub-menu" href="{{path('employesIndex')}}"><b><i class="fas fa-user-alt"></i> &nbsp; &nbsp; Employés</b></a>
							</ul>
						</div>
						
					<a class="btn-menu" href="{{path('maps')}}" style="padding-left: 0px;">
						<i class="fas fa-map-marked-alt"></i>
						&nbsp; <strong>Maps</strong> 
					</a> 
					{% if is_granted("ROLE_ADMIN")%}
					<a class="btn-menu" style="padding-left: 0px;" href="{{path('analyseVrp')}}">
						<i class="fas fa-route"></i>
						&nbsp; <strong>Analyse VRP </strong>
					</a>
					{% endif %}

					<a class="btn-menu" style="padding-left: 0px;" href="{{path('planCollecte')}}">
						<i class="fas fa-calendar-alt"></i>
						&nbsp; <strong>Plan de collecte </strong>
					</a>	

					{% if is_granted("ROLE_ADMIN")%}
					<a class="btn-menu" href="{{path('addUser')}}" style="padding-left: 0px;"><i class="fas fa-user-alt"></i>&nbsp;&nbsp;&nbsp;<b>Utilisateurs</b></a>
					{% endif %}
					
					</div>
					<a class="btn-logout" href="{{path('logout')}}" style="color:#e02222;" ><strong><i class="fas fa-sign-out-alt"></i>&nbsp; Déconnexion</strong></a>
				</nav>
			</div>
        </div>
<div class="col-xs-9">
	<div class="interface">
	  	<div id="main_content">
		  	{% if result != null %}
				<div class="alert alert-success">
					{{result}}
				</div>
			{% endif %}
			<form method="POST" action="{{path('updateTournee', {id: tournee_id})}}">
				<div class="form-row">
					<div class="form-group col-md-4">
					<label for="inputLibelle">Secteur:</label>
					<select name="secteur" id="secteurs" class="form-control" onchange="setVehicles()">
							<option selected>{{tournee.secteur}}</option>
						{% for secteur in secteurs %}
              {% if secteur.code != tournee.secteur %}
                <option value="{{secteur.code}}">{{secteur.code}}</option>
              {% endif %}
						{% endfor %}
					</select>
					</div>

					<div class="form-group col-md-4">
						<label for="inputLatitude">véhicule</label>
						<select name="vehicle" id="vehicules" class="form-control">
						{%for vehicle in vehicles %}
              {%if vehicle.code == tournee.vehicle %}
                <option value="{{vehicle.code}}" selected>{{vehicle.code}}_{{vehicle.matricule}}_{{vehicle. genre}}</option>
              {%else %}
							  <option value="{{vehicle.code}}"> {{vehicle.code}}_{{vehicle.matricule}}_{{vehicle. genre}}</option>
              {% endif %}
						{% endfor %}
						</select>
					</div>

					<div class="form-group col-md-4">
						<label for="inputCode">Date:</label>
						<input type="date" class="form-control" name="date" id="date" value="{{tournee.date}}">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label>Heure démarrage:</label>
						<input type="time" name="heure_demarrage_parc" id="heure" class="form-control" value="{{tournee.heure_demarrage_parc}}">
					</div>

					<div class="form-group col-md-4">
						<label for="inputLatitude">CET</label>
						<select name="cet" id="cet" class="form-control">
							<option value="CET01">CET CORSO</option>
							<option value="CET02">CET HAMICI</option>
						</select>
					</div>
					<div class="form-group col-md-4">
					<label for="inputLongitude">Equipe</label>
					<select name="equipe" id="equipe" class="form-control">
							{% for equipe in equipes %}
								<option value="{{equipe.code}}">{{equipe.code}}</option>
							{% endfor %}
							<option value="2">2</option>
					</select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label >Quantité prévue:</label>
						<input type="number" step="0.01" min="0" name="qte_prevue" id="qte_prevue" class="form-control" value="{{tournee.qte_prevue}}">
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Sauvegarder</button>
			</form>
			<div id="map" class="map"></div>
		</div>
	</div>
</div>

<script>
	function processAjaxData(response, urlPath){
		document.getElementById("main_content").innerHTML = response.html;
		document.title = response.pageTitle;
		window.history.pushState({"html":response.html,"pageTitle":response.pageTitle},"", urlPath);
	}
	window.onpopstate = function(e){
		if(e.state){
			document.getElementById("main_content").innerHTML = e.state.html;
			document.title = e.state.pageTitle;
		}
	};

</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{{asset('js/leaflet/leaflet.js')}}"></script>
<script src="{{asset('js/leaflet/esriservices/esri-leaflet.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
<script src=" https://cdn.rawgit.com/hayeswise/Leaflet.PointInPolygon/v1.0.0/wise-leaflet-pip.js"></script>

<!-- jQuery -->
<script type="text/javascript" src="{{asset('js/jquery.min.js')}}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{asset('js/popper.min.js')}}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{asset('js/mdb.min.js')}}"></script>



<script>
	var map = L.map('map',{ drawControl: true }).setView([36.7206251, 3.1854975], 13);
	L.esri.basemapLayer('Topographic').addTo(map);

	$.ajax({url:"{{path('getSecteurs')}}",
		success: function(response){
			var selected

			var secteurs = JSON.parse(response);
			
			window.lyrSecteurs = L.geoJSON(secteurs.features).on('click', function (e) {
					// Check for selected
					if (selected) {
						// Reset selected to default style
						e.target.resetStyle(selected)
					}
					// Assign new selected
					selected = e.layer
					// Bring selected to front
					selected.bringToFront()
					// Style selected
					selected.setStyle({
						'color': 'red'
					})
					// change secteur
					document.getElementById("secteurs").value = selected.toGeoJSON().properties.code;
					setVehicles();
				}).addTo(map);

		},
		error: function e(error){
			alert("erreur");
		}
	});
</script>

  <script>
	  $.ajax({url: "{{path('getSecteursVehiclesEquipes')}}",
			success: function(response){
				result = JSON.parse(response);

				window.vehicules = result.vehicules;
				window.secteurs = result.secteurs;
				window.equipes = result.equipes;
			},
			error: function e(error){
				alert("Error: "+ error);
			}
		});

		var url = '{{path("tourneesEnAttente")}}';
		$.ajax({
			url: url,
			success: function(response){
				window.tournees = JSON.parse(response);
			},
			error: function(error){
				alert("Erreur: " + error);
			}
		});

    function setVehicles(){
		

		$('#vehicules').empty();

		var select_vehicle = document.getElementById("vehicules");
		var secteur = document.getElementById("secteurs").value;
		var date = document.getElementById("date").value;
		var heure = document.getElementById("heure").value;
		var select_equipe = document.getElementById("equipe");
		window.secteurs.forEach(function(obj) {
			if(obj.code == secteur){
				window.vehicules.forEach(function(vehicle){
					if(vehicle.code == obj.vehicule){
						var existe = false;
						
						var date_saisie = new Date(date);
						if(existe == true && date_saisie.getTime() != window.date_tournee.getTime()){
							opt = document.createElement('option');
							opt.appendChild( document.createTextNode(vehicle.code + "_" + vehicle.matricule + "_" + vehicle.genre+"_"+vehicle.volume));
							opt.value = vehicle.code;
							select_vehicle.appendChild(opt);
						}else{ 
							if(existe == false){
								opt = document.createElement('option');
								opt.appendChild( document.createTextNode(vehicle.code + "_" + vehicle.matricule + "_" + vehicle.genre + "_" + vehicle.volume));
								opt.value = vehicle.code;
								select_vehicle.appendChild(opt);
							}	
						}
					}
				});

				document.getElementById("heure").value = obj.horaire;
				document.getElementById("qte_prevue").value = obj.qtedechet;
			}
		});
		

	} 
  </script>
</body>
</html>