{% extends "base.html.twig" %}
{% block title %}Détails rotation{% endblock %}
{% block header %}Détails rotation{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/tourneeDetails.css')}}">
<link rel="stylesheet" href="{{asset('css/popup.css')}}">
{% endblock %}

{% block body %}
<div id="popup_image" class="overlay" style="z-index:100;">
	<div class="popup">
		<a class="close" href="#">&times;</a><br>
		<div class="content" id="content">
            {% if ticket_image != null %}
                <img id="ticket_image" src="{{asset('img/'~ ticket_image ~ '')}}">
            {% endif %}
        </div>
	</div>
</div>

<a href="{{path('tourneeMaps', {id:id_tournee})}}" class="btn btn-info btn-md">Maps</a>

<div id="bon_transport" class="info-div">
    <div class="bare-info">
        <legend>
            <h3>Bon de transport</h3>
            <button type="button" class="btn btn-success btn-sm btn-imprimer" onclick="imprimer('bon_transport');">Imprimer</button>
        </legend>
    </div>
    <table class="mt-4">
        <tbody>
            <tr>
                <th class="font-weight-bold">Code:</th>
                <td>{{bon.code}}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">Secteur:</th>
                <td>{{bon.secteur}}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">Véhicule:</th>
                <td>{{vehicle}}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">Date:</th>
                <td>{{bon.date}}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">Heure début:</th>
                <td>{{bon.heure_debut}}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">Equipe:</th>
                <td>{{bon.equipe}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div id="ticket_pesee" class="info-div mt-4">
    <div class="bare-info">
        <legend>
            <h3>Ticket de pesée</h3>
            <a class="btn btn-success btn-sm btn-imprimer" href="#popup_image">Image</a>
        </legend>
    </div>
    <table class="mt-4">
        <tbody>
            <tr>
                <th class="font-weight-bold">Code:</th>
                <td>{{ticket.code}}</td>

                <th style="padding-left: 200px;" class="font-weight-bold">Poids brute:</th>
                <td>{{ticket.poids_brut}}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">CET:</th>
                <td>{{ticket.cet}}</td>
                <th style="padding-left: 200px;" class="font-weight-bold">Poids net:</th>
                <td>{{ticket.poids_net}}</td>
            </tr>
            <tr>
                <th class="font-weight-bold">Date:</th>
                <td>{{ticket.date_pesee}}</td>
                <th style="padding-left: 200px;" class="font-weight-bold">Heure pesée:</th>
                <td>{{ticket.heure_pesee}}</td>
            </tr>
            
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}
<script>
function imprimer(divName) {
      var printContents = document.getElementById(divName).innerHTML;    
   var originalContents = document.body.innerHTML;      
   document.body.innerHTML = printContents;     
   window.print();     
   document.body.innerHTML = originalContents;
   }

   
</script>
{% endblock %}