{% extends "base.html.twig" %}
{% block title %}Tournées{%endblock%}
{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('css/table.css')}}">
{% endblock %}
{% block header %}Tournées{%endblock%}
{% block body %}
<div class="row">

	<form method="post" action="{{ path('parSecteur') }}" class="col md-9">
	<label for="secteur" style="float:left; margin-top:15px;">Choisir un secteur:</label>
	<select id="secteur" name="code" class="form-control col-md-3" style="float:left; margin-top:10px;">
		<option value="tout">Tout</option>
		<option value="C013-A11">C013-A11</option>
	</select>
		<button class="btn btn-outline-warning btn-sm" style="float:left; margin-top:2%;" type="submit" value="filtrer"><i class="fas fa-filter"></i></button>
	</form>
	<div class="col md-4">
		<a class="btn btn-success btn-add btn-sm" href="{{path('addTournee')}}" value="add" type="submit"><i class="fas fa-plus"></i></a>
	</div>	
</div>

<div class="tableFixHead">
	<table class="table">
		<thead>
			<tr>
				<th scope="col" style="text-align: center;">Id</th>
				<th scope="col" style="text-align: center;">Secteur</th>
				<th scope="col" style="text-align: center;">Véhicule</th>
				<th scope="col" style="text-align: center;">Equipe</th>
				<th scope="col" style="text-align: center;">CET</th>
				<th scope="col" style="text-align: center;">Quantité réalisée</th>
				<th scope="col" style="text-align: center;">Actions</th>
			</tr>
		</thead>
		<tbody>
		{% for tournee in tournees %}
			<tr>
				<td scope="row">{{ tournee.id_tournee }}</td>
				<td class="th-sm" style="text-align: center;"> {{ tournee.secteur }} </td>
				<td class="th-sm" style="text-align: center;">{{ tournee.marque }}</td>
				<td class="th-sm" style="text-align: center;">{{ tournee.equipe }}</td>
				<td class="th-sm" style="text-align: center;">{{ tournee.designation }}</td>
                <td class="th-sm" style="text-align: center;">{{ tournee.qte_realise }}</td>
                
				<td class="th-sm">
					<div class="btn-group" style="float: right;">
						<a class="btn btn-sm btn-warning" href="{{path('updateTournee', {id: tournee.id_tournee})}}"><i class="fa fa-edit"></i></a>
						<a class="btn btn-sm btn-danger" href="{{path('deleteTournee', {id : tournee.id_tournee})}}"><i class="fas fa-trash-alt"></i></a>
                        <a class="btn btn-sm btn-info" href="{{path('tourneeDetail', {id : tournee.id_tournee })}}"><i class="fas fa-info-circle"></i></a>
					</div>
				</td>
			</tr>
		{% endfor %}
		</tbody>
  	</table>
</div>
{% endblock %}

{% block javascripts %}

{% endblock %}