<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery -->
    <script type="text/javascript" src="{{asset('js/jquery.min.js')}}"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="{{asset('js/mdb.min.js')}}"></script>
    <!-- Bootstrap tooltips -->
	<script type="text/javascript" src="{{asset('js/popper.min.js')}}"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>
    <!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<!-- Google Fonts Roboto -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
	<!-- Material Design Bootstrap -->
	<link rel="stylesheet" href="{{asset('css/mdb.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/login.css')}}">
    <title>Se connecter</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand font-weight-bold" href="#">GDMA BabEzzouar</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto nav-links">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('home')}}"><i class="fas fa-home"></i> Accueil <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="login-page">
        
        <div class="container">
            <h2 class="font-weight-bold">Identifiez vous</h2>
            {% if error %}
                <div class="alert alert-danger">
                    Identifiants incorrects
                </div>
            {% endif %}
            <br>
            <form class="login-form" method="post" action="{{path('login')}}">
                <div class="form-row">
                    <label>Nom d'utilisateur</label>
                    <input class="form-control" type="text" placeholder="username" name="_username" value="{{last_username}}" required/>
                </div>
                <div class="form-row">
                    <label>Mot de passe:</label>
                    <input class="form-control" type="password" placeholder="password" name="_password"/>
                </div>

                <button class="btn btn-info btn-login">Se connecter</button>
            </form>
        </div>
      </div>

</body>
</html>

