{% extends "base.html.twig" %}
{% block title %}Modifier véhicule{%endblock%}
{% block header %}Modifier véhicule {%endblock%}

{% block body %}
{% if result != null %}
<div class="alert alert-success">
  {{result}}
</div>
{% endif %}
<form method="POST" action="{{path('editVehicle', {code:vehicle.code})}}">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCode">Code</label>
      <input type="text" class="form-control" name="code" value="{{vehicle.code}}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputLibelle">Marque</label>
      <input type="text" class="form-control" name="marque" value="{{vehicle.marque}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
        <label for="inputLatitude">Matricule</label>
        <input type="text" name="matricule" class="form-control" value="{{vehicle.matricule}}">
      </div>
    <div class="form-group col-md-4">
      <label for="inputLatitude">Genre</label>
      <input type="text" name="genre" class="form-control" value="{{vehicle.genre}}">
    </div>
    <div class="form-group col-md-4">
      <label for="inputLongitude">Volume</label>
      <input type="number" name="volume" class="form-control" value="{{vehicle.volume}}">
    </div>
  </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputAddress">Poids</label>
            <input type="number" step="1" class="form-control" name="poids" value="{{vehicle.poids}}" >
        </div>
        <div class="form-group col-md-4">
            <label for="inputAddress">Largeur</label>
            <input type="number" step="0.1" class="form-control" name="largeur" value="{{vehicle.largeur}}">
        </div>
        <div class="form-group col-md-4">
            <label for="inputAddress">longueur</label>
            <input type="number" step="0.1" class="form-control" name="longueur" value="{{vehicle.longueur}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputAddress">Hauteur</label>
            <input type="number" step="0.1" class="form-control" name="hauteur" value="{{vehicle.hauteur}}">
        </div>
        <div class="form-group col-md-4">
            <label for="inputAddress">Puissance</label>
            <input type="number" step="1" class="form-control" name="puissance" value="{{vehicle.puissance}}">
        </div>
        <div class="form-group col-md-4">
            <label for="inputAddress">Etat</label>
            <select name="etat" id="etat" class="form-control">
                <option value="En marche">En marche</option>
                <option value="En panne">En panne</option>
            </select>
        </div>
        <label for="inputAddress">date</label>
            <input type="date"  class="form-control col-md-6" name="date" value="{{vehicle.mise_en_marche}}">
    </div>
  <button type="submit" class="btn btn-primary">Sauvegarder</button>
</form>

{% endblock %}