{% extends 'base.html.twig' %}
{% block title %}Gestion des utilisateurs{%endblock%}
{% block header %}Gestion utilisateurs{%endblock%}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/table.css')}}">
<style>
    h3{
        border: 1px solid transparent;
        background-color: #1d8097;
        color: white;
        font-weight: bold;
        border-radius: 3px;
        margin-bottom: 20px;
        text-align: center;
        height: 40px;
    }
    .addUser{
        border: 1px solid transparent;
        background-color: #ffffff;
        border-radius: 3px;
    }
    .btn-ajouter{
        width: 30%;
        right: 17%;
    }
</style>
{% endblock %}
{% block body %}

<div class="tableFixHead">
	<table class="table">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom utilisateur</th>
            <th scope="col">Rôle &nbsp;</th>
            <th scope="col">Equipe</th>
            <th scope="col">Date inscription</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
		<tbody>
		{% for user in users %}
			<tr>
				<td scope="row" >{{ user.id }}</td>
				<td class="th-sm" > {{ user.username}} </td>
				<td class="th-sm">
                    {% if user.roles[0] == "ROLE_ADMIN" %} 
                        Administrateur
                    {%endif%}
                    {% if user.roles[0] == "ROLE_SUPERUSER" %}
                        Planificateur
                    {%endif%}
                    {% if user.roles[0] == "ROLE_USER" %}
                        Chef d'équipe
                    {%endif%}
                    </td>
				<td class="th-sm">{{ user.getCodeEquipe }}</td>
				<td class="th-sm">{{ user.getDateInscription.date|date("m/d/Y") }}</td>
                
				<td class="th-sm">
					<div class="btn-group" >
						<a class="btn btn-sm btn-primary" href=""><i class="fa fa-edit"></i></a>
						<a class="btn btn-sm btn-danger" href="{{path('deleteUser', {id: user.id})}}"><i class="fas fa-trash-alt"></i></a>
					</div>
				</td>
			</tr>
		{% endfor %}
		</tbody>
  	</table>
</div>
<hr>
<div class="addUser">

<h3 class="mb-4">Ajouter un utilisateur</h3>
{% if result != null %}
    <p class="alert alert-success">{{result}}</p>
{% endif %}

<form action="{{path('addUser')}}" method="POST" style="text-align: center; margin-left: 20%;">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Nom d'utilisateur:</label>
            <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label>Mot de passe</label>
            <input type="text" name="password" class="form-control">
        </div>
    </div>
    <div class="form-row">   
        <div class="form-group col-md-4">
            <label>Rôle dans le système:</label>
            <select name="role" class="form-control">
                <option value="Administrateur">Administrateur</option>
                <option value="Planificateur">Planificateur</option>
                <option value="Chauffeur">Chauffeur</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label>Choisir Equipe:</label>
            <select name="equipe" class="form-control">
            <option value="0" selected>Choisir equipe</option>
            {% for equipe in equipes %}
                <option value="{{equipe.code}}">{{equipe.code}}</option>
            {% endfor %}
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-ajouter" >Ajouter</button>
</form>
</div>
{% endblock %}