{% extends "base.html.twig" %}
{% block title %}Modifier point de collecte{%endblock%}
{% block header %}Modifier point de collecte{%endblock%}

{% block body %}

<form method="POST" action="">
					<div class="form-row">
					  <div class="form-group col-md-6">
						<label for="inputCode">Code</label>
						<input type="text" class="form-control" id="inputCode" name="code" value="{{point.code_point}}">
					  </div>
					  <div class="form-group col-md-6">
						<label for="inputLibelle">Libelle</label>
						<input type="text" class="form-control" id="inputLibelle" name="libelle" value="{{point.libelle}}">
					  </div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
                <label for="inputAdresse">Adresse</label>
					  		<input type="text" class="form-control"  name="adresse" id="inputAddress" placeholder="Insérer une adresse" value="{{point.adresse}}">
						</div>
						<div class="form-group col-md-6">
							<label for="inputFrequence">Fréquence de collecte</label>
							<input type="number" min="1" max="4" name="frequence" class="form-control" value="{{point.frequence}}">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputSecteur">Début fenêtre de temps:</label>
							<input type="time" class="form-control" name="debut_fenetre_temps" value="{{point.debut_fenetre_temps1}}">
						</div>
						<div class="form-group col-md-6">
							<label for="inputFrequence">Fin fenêtre de temps:</label>
							<input type="time" name="fin_fenetre_temps" class="form-control" value="{{point.fin_fenetre_temps1}}">
						</div>
					</div>
					<div class="form-group">
						<label for="inputAddress">activité</label>
						<input type="text" class="form-control" name="activite" placeholder="artisanale, industriel" value="{{point.activites}}">
					</div>
				  
					<button type="submit" class="btn btn-primary">Sauvegarder</button>
				  </form>

{% endblock %}