<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
		<link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<!-- Google Fonts Roboto -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
		<!-- Material Design Bootstrap -->
		<link rel="stylesheet" href="{{asset('css/mdb.min.css')}}">
		<link rel="stylesheet" href="{{asset('css/main.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body style="background-color: #f2f2f2;">
        

		<div class="row1" id="navbar">
          	<div class="col-xs-2">
            	<nav class="aside " >
					<h2 class="page-title" style="color:white;"><b>{% block header %} {%endblock%}</b></h2>
					
					<div class="btn-group-vertical" style="width: 96%;">
			
					<a class="btn-menu" href="{{path('dashboard')}}" style="padding-left: 0px; ">
						<i class="fas fa-tachometer-alt"></i>
						 	&nbsp;<b> Home </b><span class="sr-only">(current)</span>
					</a> 

					<a class="btn-menu" style="padding-left: 0px;" href="{{path('charts')}}">
						<i class="far fa-chart-bar"></i>
						&nbsp; <b> Chart </b>
					</a> 

					<a class="btn-menu dropdown-toggle mr-4" data-toggle="collapse" data-target="#submenu1" style="padding-left: 0px;color:white; ">
						<i class="fas fa-table"></i>
						&nbsp; <b>Tables</b>
					</a>
                    	<div class="collapse" id="submenu1" aria-expanded="false" style="width: 100%;">
							<ul class="flex-column pl-2 nav">
								<a class="nav-item md btn-sub-menu" href="{{path('tournees')}}"><small>Tournees</small></a>
								<a class="nav-item md btn-sub-menu" href="{{path('pointsIndex')}}"><small>Points</small></a>
								<a class="nav-item btn-sub-menu" href="{{path('vehiclesIndex')}}"><small>Véhicules</small></a>
								<a class="nav-item btn-sub-menu" href="{{path('bacsIndex')}}"><small>Bacs</small></a>
								<a class="nav-item btn-sub-menu" href="{{path('employesIndex')}}"><small>Employés</small></a>
							</ul>
						</div>
						
					<a class="btn-menu" href="{{path('maps')}}" style="padding-left: 0px;">
						<i class="fas fa-map-marked-alt"></i>
						&nbsp; <b>Maps</b> 
					</a> 
					{% if is_granted("ROLE_ADMIN")%}
					<a class="btn-menu" style="padding-left: 0px;" href="{{path('analyseVrp')}}">
						<i class="fas fa-edit"></i>
						&nbsp; <b>Analyse </b>
					</a>
					<a class="btn-menu" href="{{path('addUser')}}" style="padding-left: 0px;"><i class="fas fa-user-alt"></i>&nbsp;&nbsp;&nbsp;<b>users</b></a>
					{% endif %}
					<a class="btn-menu" href="{{path('logout')}}"><i class="fas fa-sign-out-alt"></i>&nbsp; Déconnexion</a>
					</div>
				</nav>
			</div>
        </div>
        <div class="col-xs-9">
          <div class="interface">
            <div id="main_content">
              {% block body %}{% endblock %}
            </div>
          </div>
        </div>
        
        <script>
            function processAjaxData(response, urlPath){
                document.getElementById("main_content").innerHTML = response.html;
                document.title = response.pageTitle;
                window.history.pushState({"html":response.html,"pageTitle":response.pageTitle},"", urlPath);
            }
            window.onpopstate = function(e){
                if(e.state){
                    document.getElementById("main_content").innerHTML = e.state.html;
                    document.title = e.state.pageTitle;
                }
            };

		</script>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		
		<!-- jQuery -->
		<script type="text/javascript" src="{{asset('js/jquery.min.js')}}"></script>
		<!-- Bootstrap tooltips -->
		<script type="text/javascript" src="{{asset('js/popper.min.js')}}"></script>
		<!-- Bootstrap core JavaScript -->
		<script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>
		<!-- MDB core JavaScript -->
		<script type="text/javascript" src="{{asset('js/mdb.min.js')}}"></script>

		{% block javascripts %}{% endblock %}
    </body>
</html>
