<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
		<link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<!-- Google Fonts Roboto -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
		<!-- Material Design Bootstrap -->
		<link rel="stylesheet" href="{{asset('css/mdb.min.css')}}">
		<link rel="stylesheet" href="{{asset('css/main.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
		
		<div class="navbar navbar-expand-lg fixed-top top-nav">
			<a href="#" class="navbar-brand font-weight-bold">
				GDMA Bab Ezzouar
			</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
			{% if is_granted('ROLE_SUPERUSER')%}
				
				  <ul class="navbar-nav">
					<li class="nav-item active">
					  <a class="nav-link" href="{{path('dashboard')}}"><i class="fas fa-tachometer-alt"></i>
						&nbsp;<strong> Tableau de bord </strong><span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="collapse" data-target="#submenu2" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-table"></i>
						&nbsp; <strong>Tables</strong>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown" id="submenu2">
						  <a class="dropdown-item btn-drop-menu" href='{{path("pointsIndex")}}'><b><i class="fas fa-map-marker-alt"></i> &nbsp; &nbsp; Points</b></a>
						  <a class="dropdown-item btn-drop-menu" href='{{path("bacsIndex")}}'><b><i class="fas fa-dumpster"></i> &nbsp; &nbsp; Bacs</b></a>
						  <a class="dropdown-item btn-drop-menu" href='{{path("vehiclesIndex")}}'><b><i class="fas fa-truck-moving"></i> &nbsp; &nbsp; Véhicules</b></a>
						  <a class="dropdown-item btn-drop-menu" href='{{path("tournees")}}'><b><i class="fas fa-route"></i> &nbsp;&nbsp; Rotations</b></a>
						  <a class="dropdown-item btn-drop-menu" href='{{path("employesIndex")}}'><b><i class="fas fa-user-alt"></i> &nbsp; &nbsp; Employés</b></a>
						</div>
					  </li>
					<li class="nav-item">
					  <a class="nav-link" href="{{path('maps')}}"><i class="fas fa-map-marked-alt"></i>
						&nbsp; <strong>Maps</strong> </a>
					</li>
					{% if is_granted("ROLE_ADMIN")%}
					<li class="nav-item">
					  <a class="nav-link" href="{{path('analyseVrp')}}"><i class="fas fa-route"></i>
						&nbsp; <strong>Analyse VRP </strong></a>
					</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="{{path('planCollecte')}}">
							<i class="fas fa-calendar-alt"></i>
							&nbsp; <strong>Plan de collecte </strong>
						</a>
					</li>
					{% if is_granted("ROLE_ADMIN")%}
					<li class="nav-item">	
						<a class="nav-link" href="{{path('addUser')}}">
							<i class="fas fa-user-alt"></i>
							&nbsp;<b>Utilisateurs</b></a>
					</li>
					{% endif %}
					
			{%endif %}

			<ul class="navbar-nav ml-auto">
					  <li class="nav-item"><a class="nav-link logout" href="{{path('logout')}}" ><i class="fas fa-sign-out-alt"></i>&nbsp; Déconnexion </a> 
					  </li>
			</ul>
			</div>
		</div>

		<div class="row1" id="navbar">
          	<div class="col-xs-2">
            	<nav class="aside " id="myMenu" >
					<h2 class="page-title" style="color:#2274BF;"><strong>GDMA Bab Ezzouar</strong></h2>
					<div class="btn-group-vertical" style="width: 96%;">
			
					<a class="btn-menu" href="{{path('dashboard')}}" style="padding-left: 0px; ">
						<i class="fas fa-tachometer-alt"></i>
						 	&nbsp;<strong> Tableau de bord </strong><span class="sr-only">(current)</span>
					</a> 

					<a class="btn-menu" style="padding-left: 0px;" href="{{path('charts')}}">
						<i class="far fa-chart-bar"></i>
						&nbsp; <strong> Statistiques </strong>
					</a> 

					<a class="btn-menu dropdown-toggle mr-4" data-toggle="collapse" data-target="#submenu1" style="padding-left: 0px;  color: rgb(77, 77, 77); ">
						<i class="fas fa-table"></i>
						&nbsp; <strong>Tables</strong>
					</a>
                    	<div class="collapse" id="submenu1" aria-expanded="false" style="width: 100%;">
							<ul class="flex-column pl-2 nav submenu-list">
								<a class="nav-item md btn-sub-menu" href="{{path('tournees')}}"><b><i class="fas fa-route"></i> &nbsp;&nbsp; Rotations</b></a>
								<a class="nav-item md btn-sub-menu" href="{{path('pointsIndex')}}"><b><i class="fas fa-map-marker-alt"></i> &nbsp; &nbsp; Points</b></a>
								<a class="nav-item btn-sub-menu" href="{{path('vehiclesIndex')}}"><b><i class="fas fa-truck-moving"></i> &nbsp; &nbsp; Véhicules</b></a>
								<a class="nav-item btn-sub-menu" href="{{path('bacsIndex')}}"><b><i class="fas fa-dumpster"></i> &nbsp; &nbsp; Bacs</b></a>
								<a class="nav-item btn-sub-menu" href="{{path('employesIndex')}}"><b><i class="fas fa-user-alt"></i> &nbsp; &nbsp; Employés</b></a>
							</ul>
						</div>
						
					<a class="btn-menu" href="{{path('maps')}}" style="padding-left: 0px;">
						<i class="fas fa-map-marked-alt"></i>
						&nbsp; <strong>Maps</strong> 
					</a> 
					{% if is_granted("ROLE_ADMIN")%}
					<a class="btn-menu" style="padding-left: 0px;" href="{{path('analyseVrp')}}">
						<i class="fas fa-route"></i>
						&nbsp; <strong>Analyse VRP </strong>
					</a>
					{% endif %}

					<a class="btn-menu" style="padding-left: 0px;" href="{{path('planCollecte')}}">
						<i class="fas fa-calendar-alt"></i>
						&nbsp; <strong>Plan de collecte </strong>
					</a>
					
					<a class="btn-menu" style="padding-left: 0px;" href="{{path('Bilan')}}">
						<i class="fas fa-clipboard-list"></i>
						&nbsp; <strong> Bilan </strong>
					</a>	

					<a href="{{path('planningCollecte')}}" class="btn-menu">
						<i class="fas fa-calendar-week"></i>
						&nbsp; <strong> Planning </strong>
					</a>

					{% if is_granted("ROLE_ADMIN")%}
					<a class="btn-menu" href="{{path('addUser')}}" style="padding-left: 0px;"><i class="fas fa-user-alt"></i>&nbsp;&nbsp;&nbsp;<b>Utilisateurs</b></a>
					{% endif %}
					
					</div>
					<a class="btn-logout" href="{{path('logout')}}" style="color:#e02222;" ><strong><i class="fas fa-sign-out-alt"></i>&nbsp; Déconnexion</strong></a>
				</nav>
			</div>
        </div>
        <div class="col-xs-9">
          <div class="interface">
            <div id="main_content">
              {% block body %}{% endblock %}
            </div>
          </div>
        </div>
        
        <script>
            function processAjaxData(response, urlPath){
                document.getElementById("main_content").innerHTML = response.html;
                document.title = response.pageTitle;
                window.history.pushState({"html":response.html,"pageTitle":response.pageTitle},"", urlPath);
            }
            window.onpopstate = function(e){
                if(e.state){
                    document.getElementById("main_content").innerHTML = e.state.html;
                    document.title = e.state.pageTitle;
                }
			};
			

		</script>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		
		<!-- jQuery -->
		<script type="text/javascript" src="{{asset('js/jquery.min.js')}}"></script>
		<!-- Bootstrap tooltips -->
		<script type="text/javascript" src="{{asset('js/popper.min.js')}}"></script>
		<!-- Bootstrap core JavaScript -->
		<script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>
		<!-- MDB core JavaScript -->
		<script type="text/javascript" src="{{asset('js/mdb.min.js')}}"></script>

		{% block javascripts %}{% endblock %}
    </body>
</html>
