{% extends "base.html.twig" %}
{% block title %}Bacs{%endblock%}
{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('css/table.css')}}">
  <style>
	  td{
		  margin: auto;
	  }
  </style>
{% endblock %}
{% block header %}Bacs{%endblock%}
{% block body %}
<div class="row">
	<div class="col md-4">
		<a class="btn btn-success btn-add btn-sm" href="{{path('addBac')}}" value="add" type="submit"><i class="fas fa-plus"></i></a>
	</div>	
</div>
 
<div class="tableFixHead">
	<table class="table">
		<thead>
			<tr>
			<th scope="col" >ID</th>
			<th scope="col">Nature</th>
			<th scope="col">Volume</th>
			<th scope="col">Nature déchets</th>
			<th scope="col">Date installation</th>
			<th scope="col">Etat</th>
			<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
		{% for bac in bacs %}
			<tr>
				<td class="th-sm">{{ bac.code }}</td>
				<td class="th-sm">{{ bac.typemat }}</td>
				<td class="th-sm">{{ bac.volume }}</td>
				<td class="th-sm">{{ bac.typedechet }}</td>
				<td class="th-sm">{{ bac.dateinstal }}</td>
				<td class="th-sm">{{ bac.etat }}</td>
				<td class="th-sm">
					<div class="btn-group">
						<a class="btn btn-sm btn-primary" href="{{path('editBac',{code: bac.code})}}"><i class="fa fa-edit"></i></a>
						<a class="btn btn-sm btn-danger" href="{{path('deleteBac', {code: bac.code})}}"><i class="fas fa-trash-alt"></i></a>
					</div>
				</td>
			</tr>
		{% endfor %}
		</tbody>
  	</table>
</div>
{% endblock %}

{% block javascripts %}

{% endblock %}