{% extends "base.html.twig" %}
{% block title %}Statistiques{%endblock%}
{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('css/charts.css')}}">
{% endblock %}
{% block header %}Statistiques{%endblock%}
{% block body %}
<div class="container-fluid">
    <div class="row" style=" margin-bottom: 23px;">
        <div class="chart1 ">
            <h3 class="text-center font-weight-bold mb-4">Quantité de déchets par secteur</h3>
            <hr>
            <canvas id="Chart1" height="195" width="390" class="chartjs-render-monitor" style="display: block; width: 390px; height: 195px;"></canvas>
        </div>
        <div class="chart2 " >
            <h3 class="text-center font-weight-bold mb-4">Quantité de déchets par mois</h3>
            <hr>
            <canvas id="Chart2" height="195" width="390" class="chartjs-render-monitor" style="display: block; width: 390px; height: 195px;"></canvas>
        </div>
    </div>
    <div class="row" style=" margin-bottom: 23px;">
        <div class="chart1">
            <h3 class="text-center font-weight-bold mb-4">Distance parcourue par véhicule</h3>
            <hr>
            <canvas id="Chart3" height="195" width="390" class="chartjs-render-monitor" style="display: block; width: 390px; height: 195px;"></canvas>
        </div>
        <div class="chart2">
            <h3 class="text-center font-weight-bold mb-4">Temps d'activité  des  véhicules</h3>
            <hr>
            <canvas id="Chart4" height="195" width="390" class="chartjs-render-monitor" style="display: block; width: 390px; height: 195px;"></canvas>
        </div>
    </div>
    <div class="row" style=" margin-bottom: 23px;">
        <div class="chart1" >
            <h3 class="text-center font-weight-bold mb-4">Nombre de rotations par équipes</h3>
            <hr>
            <canvas id="Chart5" height="195" width="390" class="chartjs-render-monitor" style="display: block; width: 390px; height: 195px;"></canvas>
        </div>
        <div class="chart2" >
            <h3 class="text-center font-weight-bold mb-4">Temps de travail des équipes</h3>
            <hr>
            <canvas id="Chart6" height="195" width="390" class="chartjs-render-monitor" style="display: block; width: 390px; height: 195px;"></canvas>
        </div>
    </div>
    <div class="row" style=" margin-bottom: 23px;">
        <div class="chart1">
            <h3 class="text-center font-weight-bold mb-4">Quantité ramassée par véhicule</h3>
            <hr>
            <canvas id="Chart7" height="195" width="390" class="chartjs-render-monitor" style="display: block; width: 390px; height: 195px;"></canvas>
        </div>
        <div class="chart2">
            <h3 class="text-center font-weight-bold mb-4">Nombre de rotations par véhicule</h3>
            <hr>
            <canvas id="Chart8" height="195" width="390" class="chartjs-render-monitor" style="display: block; width: 390px; height: 195px;"></canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<!-- jQuery -->
<script type="text/javascript" src="{{asset('js/jquery.min.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


<script src="{{asset('js/chart3.js')}}"></script>




<script src="{{asset('js/chart1.js')}}"></script> 
<script src="{{asset('js/chart2.js')}}"></script>

<script src="{{asset('js/chart5.js')}}"></script>
<script src="{{asset('js/chart6.js')}}"></script>
<script src="{{asset('js/chart7.js')}}"></script>
<script src="{{asset('js/chart8.js')}}"></script>

<script src="{{asset('js/chart4.js')}}"></script>



{% endblock %}