<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- jQuery -->
	<script type="text/javascript" src="{{asset('js/jquery.min.js')}}"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="{{asset('js/popper.min.js')}}"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="{{asset('js/mdb.min.js')}}"></script>

	<script src="{{asset('js/leaflet/leaflet.js')}}"></script>

	<script src="{{asset('js/leaflet/esriservices/esri-leaflet.js')}}"></script>
	<script src="{{asset('js/leaflet/locate/L.Control.Locate.min.js')}}"></script>

	<script src=" https://cdn.rawgit.com/hayeswise/Leaflet.PointInPolygon/v1.0.0/wise-leaflet-pip.js"></script>

	<!-- Load Esri Leaflet from CDN -->
	<script src="https://unpkg.com/esri-leaflet@2.1.1"></script>

	<!-- Esri Leaflet GP -->
	<script src="https://unpkg.com/esri-leaflet-gp@2.0.3"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
	<script src="{{asset('js/leaflet/Leaflet.Editable.js')}}"></script>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

	<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
	<!-- Material Design Bootstrap -->
	<link rel="stylesheet" href="{{asset('css/mdb.min.css')}}">
	<link rel="stylesheet" href="{{asset('js/leaflet/leaflet.css')}}" />
	<link rel="stylesheet" href="{{asset('js/leaflet/locate/L.Control.Locate.min.css')}}">
	<link rel="stylesheet" href="{{asset('js/leaflet/Leaflet.Editable.js')}}">
	<link rel="stylesheet" href="{{asset('css/popup.css')}}">
	<link rel="stylesheet" href="{{asset('css/maps.css')}}">
	
</head>

<body>
	<nav class="navbar navbar-expand-lg fixed-top ">
		<h2 class="navbar-brand" >Données SIG</h2>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav">
				<li class="nav-item active">
				  <a class="nav-link" href="{{path('dashboard')}}"><i class="fas fa-home"></i>Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-table"></i> &nbsp; Table
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class="dropdown-item" href='{{path("pointsIndex")}}'>Points</a>
					  <a class="dropdown-item" href='{{path("bacsIndex")}}'>Bacs</a>
					  <a class="dropdown-item" href='{{path("vehiclesIndex")}}'>Véhicules</a>
					  <a class="dropdown-item" href='{{path("tournees")}}'>Tournees</a>
					  <a class="dropdown-item" href='{{path("employesIndex")}}'>Employés</a>
					</div>
				  </li>
				<li class="nav-item">
				  <a class="nav-link" href="{{path('maps')}}"><i class="fas fa-map-marked-alt"></i>&nbsp; Maps</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{{path('analyseVrp')}}">Analyse</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
          		<li class="nav-item"><a class="nav-link logout" href="{{path('logout')}}" ><i class="fas fa-sign-out-alt"></i>&nbsp; Déconnexion </a> 
          		</li>
        	</ul>
		</div>
	</nav>

	<div id="map"></div>
	<div class="data"></div>

	<div class="analysis">
		<h3 class="font-weight-bold">Menu contrôle</h3>
		<hr>
			<div id="layerDiv">
				<div>
					<input type="checkbox" name="points" id="points", value="points de Collecte" onchange="reactTo(this)" checked /> Points de collecte <i class="fa fa-circle" aria-hidden="true" style="color: rgb(107, 194, 107);"></i>
				</div>
				<div>
					<input type="checkbox" name="depots" id="depots", value="depot" onchange="showDepots(this)" checked /> Dépôts <i class="fa fa-map-marker" aria-hidden="true" style="color: yellow;"></i>
				</div>
				<div>
					<input type="checkbox" name="secteurs" id="secteurs" onchange="showSecteurs(this)" checked/> Secteurs <i class="fa fa-square" aria-hidden="true" style="color:#005075;"></i>
				</div>
				<div>
					<input type="checkbox" name="quartiers" id="quartiers" onchange="showQuartiers(this)" checked/> Quartiers <i class="fa fa-square" aria-hidden="true" style="color:rgb(131, 168, 247);"></i>
				</div>
				<div>
					<input type="checkbox" name="organismes" id="organismes" onchange="showOrganismes(this)" checked/> Organismes <i class="fa fa-square" aria-hidden="true" style="color:rgb(245, 76, 76);"></i>
				</div>
			</div>
		<button class="btn btn-info btn-md" onclick="saveSectorization()">Sauvegarder</button>

		<div class="alert alert-success" role="alert" id="alert-success" style="display:none; bottom: 0px;">
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  				<span aria-hidden="true">&times;</span>
			</button>
			<div id="alert-success-content"></div>
		</div>
		<div class="alert alert-danger" role="alert" id="alert-danger" style="display:none; bottom: 0px;">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
		  </button>
		  <div id="alert-danger-content"></div>
	  </div>
	</div>

	<div id="json"></div>
	
	<div id="popup1" class="overlay">
		<div class="popup">
			<div class="alert alert-success" role="alert" id="alert-success-popup" style="display:none; bottom: 0px;">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
			  </button>
			  <div id="alert-success-popup-content"></div>
			</div>
			<div class="alert alert-danger" role="alert" id="alert-danger-popup" style="display:none; bottom: 0px;">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div id="alert-danger-popup-content"></div>
			</div>
			<div class="btn-group btn-group-md" role="group" style="width: 80%;">
				<button class="btn btn-outline-unique btn-md" id="edit_point" onclick="hideShow('point')">Point</button>
				<button class="btn btn-outline-unique btn-md" id="edit_bacs" onclick="hideShow('bacs')">Bacs</button>
			</div>
			<a class="close" href="#">&times;</a><br>
			<div class="content" id="content">
				<form class="form" id="form-point">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="libelle">Libellé:</label>
							<input class="form-control" type="text" name="libelle" id="libelle">
						</div>
						<div class="form-group col-md-6">
							<label for="Adresse">Adresse:</label>
							<input type="text" class="form-control" name="adresse" id="adresse">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="libelle">Début fenêtre de temps:</label>
							<input class="form-control" type="time" name="dft" id="debut_fenetre_temps1">
						</div>
						<div class="form-group col-md-6">
							<label for="Adresse">Fin fenêtre de temps:</label>
							<input type="time" class="form-control" name="fft" id="fin_fenetre_temps1">
						</div>
					</div>
					<div class="form-group">
						<button class="btn btn-outline-primary" type="button" style="margin-left: 5px;" onclick="savePoint()">Sauvegarder</button>
					</div>
				</form>
				<div id="form-bacs">
					<form class="form" style="margin-left: 10px; width: 80%;" >
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="bac">Bac:</label>
								<select name="code_bac" id="bacs" class="form-control">

								</select>
							</div>
							<div class="form-group col-md-6">
								<label for="volume">Volume</label>
								<input type="number" name="volume" id="volume"  class="form-control ">
							</div>
						</div>	
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="typemat">Type Matière</label>
								<select name="nature" id="typemat" class="form-control">
									<option value="Plastique" selected>Plastique</option>
									<option value="Métalique">Métalique</option>
									<option value="Galvanisé">Galvanisé</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label for="nature_dechet">Nature déchets</label>
								<input type="text" name="nature_dechet" id="typedechet" class="form-control ">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="etat">Etat:</label>
								<select name="etat" id="etat" class="form-control">
									<option value="Bon">Bon</option>
									<option value="Moyen">Moyen</option>
									<option value="Dégradé">Dégradé</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label for="taux">Taux remplissage:</label>
								<input type="number" step="0.1" min="0" max="100" name="taux_remplissage" id="taux_remplissage" class="form-control ">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="dateinstal">Date installation:</label>
								<input type="date" name="date" id="date_installation" class="form-control">
							</div>
						</div>
					</form>
					<div class="form-group" style="margin-top: 20px; margin-left: 5px;">
						<button type="button" class="btn btn-outline-primary" style="width: 200px;" onclick="editBac()">Sauvegarder</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	

<script type="text/javascript">

	function hideShow(button){
		if(button == 'point'){
			$( "#form-bacs" ).hide();
			$("#form-point").show();	
		}
		else{
			$( "#form-point" ).hide();
			$("#form-bacs").show();
		}
	}

	$('#form-bacs').hide();

	
</script>
	
<script type="text/javascript">

	//OSM tiles attribution and URL
	var osmLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
	var osmURL = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib = '&copy; ' + osmLink;
		
	//Carto tiles attribution and URL
	var cartoLink = '<a href="http://cartodb.com/attributions">CartoDB</a>';
	var cartoURL = 'http://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png';
	var cartoAttrib = '&copy; ' + osmLink + ' &copy; ' + cartoLink;

	//Stamen Toner tiles attribution and URL
	var stamenURL = 'http://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.{ext}';
	var stamenAttrib = 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>';

	//Creation of map tiles
	var osmMap = L.tileLayer(osmURL, {attribution: osmAttrib});
	var cartoMap = L.tileLayer(cartoURL, {attribution: cartoAttrib});
	var stamenMap = L.tileLayer(stamenURL,{
			attribution: stamenAttrib,
			subdomains: 'abcd',
			minZoom: 0,
			maxZoom: 20,
			ext: 'png'
		});
	var map = L.map('map',{ drawControl: true, editable: true }).setView([36.7206251, 3.1854975], 13);
	L.esri.basemapLayer('Topographic').addTo(map);
	
	//Base layers definition and addition
	var baseLayers = {
			"Esri Topographic": L.esri.basemapLayer('Topographic'),
			"OSM Mapnik": osmMap,
			"Carto DarkMatter": cartoMap,
			"Stamen Toner": stamenMap,
			"Esri imagery": L.esri.basemapLayer('Imagery')
		};
	  
		 //Add baseLayers to map as control layers
		 L.control.layers(baseLayers).addTo(map);

	function getColour(d){
        return  d > 6 ? '#005075':
                d > 4 ? '#0AC0C9':
				d > 2 ? '#B7E9F7':
							'#fffff';
	}

	function getRouteColor(r){
		return r == 1 ? '#ff0000':
				r == 2 ? '#ffa500':
				r == 3 ? '#ffff00':
				r == 4 ? '#008000':
				r == 5 ? '#0000ff':
				r == 6 ? '#4b0082':
				r == 7 ? '#ee82ee':
				r == 8 ? '#6b8464':
				r == 9 ? '#cc1a58':
				 '#4dccff';
	}
	function densityStyle(feature){
        return {
            "fillColor": getColour(feature.properties.qtedechet), // Call function to get fill colour
            "weight": 2, //
            "opacity": 1, //
            "color": '#000', //
            "fillOpacity": 0.7 //
        };
	}
	


	function getPointColor(s){
		return  s == 'C013-A11' ? '#ff0000':
				s == 'C013-A12' ? '#008000':
				s == 'C013-A21' ? '#6b8464':
				s == 'C013-A22' ? '#0000ff':
				s == 'C013-B11' ? '#ffa500':
				s == 'C013-B12' ? '#2607ed':
				s == 'C013-B21' ? '#07eda4':
				s == 'C013-C11' ? '#ffff00':
				s == 'C013-C12' ? '#cc1a58':
				s == 'C013-C21' ? '#4b0082':
				s == 'C013-C22' ? '#ee82ee':
				s == 'C013-D11' ? '#2e50d9':
				s == 'C013-D12' ? '#54f719':
				s == 'C013-D21' ? '#f76002':
				s == 'C013-D22' ? '#c4128f':
				s == 'C013-E11' ? '#0791ed':
				 '#4dccff';
	}
	
	var groupSecteurs = L.featureGroup();
	
	$.ajax({url:"{{path('getSecteurs')}}",
		success: function(response){

			function onEachFeature(feature, layer) {
				layer.bindPopup('<p><b>Code: </b>' + feature.properties.code + '</p><p><b>Horaire de collecte: </b>' + feature.properties.horaire + '</p><p><b>Véhicule:</b> ' + feature.properties.vehicule + '</p><p><b>Quantité de déchets:</b> ' + feature.properties.qtedechet + '</p>');
				groupSecteurs.addLayer(layer,{style: densityStyle(feature)});
			}

			var secteurs = JSON.parse(response);
			
			window.lyrSecteurs = L.geoJSON(secteurs.features, {		
				style: densityStyle,
				onEachFeature: onEachFeature,
			});
	
			map.addLayer(groupSecteurs);

		},
		error: function e(error){
			alert("erreur");
		}
	});

	$.ajax({url:"{{path('getQuartiers')}}",
		success: function(response){

			function onEachFeature(feature, layer) {
				layer.bindPopup('<b>Code: ' + feature.properties.code + '</b><p><b>Désignation:</b>'+ feature.properties.name + '</p><p><b>Type:</b>' + feature.properties.type +'</p>');
			}

			var quartiers = JSON.parse(response);

			window.lyrQuartiers = L.geoJSON(quartiers.features, {	
				onEachFeature: onEachFeature,
				}).addTo(map);
		},
		error: function e(error){
			alert("erreur");
		}
	});

	$.ajax({url:"{{path('getOrganismes')}}",
		success: function(response){

			function onEachFeature(feature, layer) {
				layer.bindPopup('<b>Code: ' + feature.properties.code + '</b><p><b>Désignation:</b>'+ feature.properties.name + '</p><p><b>Type:</b>' + feature.properties.type +'</p>');
			}

			var organismes = JSON.parse(response);

			window.lyrOrganismes = L.geoJSON(organismes.features, {	
				color: 'red',	
				fillColor: 'red',	
				onEachFeature: onEachFeature,
				}).addTo(map);
		},
		error: function e(error){
			alert("erreur");
		}
	});
	

	$.ajax({url:"{{path('getPoints')}}",
		success: function(response){
			var myIcon = L.icon({
				iconUrl: '{{asset("img/leaflet/marker.png")}}',
				iconSize: [30, 30],
				iconAnchor: [0,0],
				popupAnchor: [9, -20]
			});

			function onEachFeature(feature, layer) {
				var fonction = "getPoint('code')";
				fonction = fonction.replace("code", feature.properties.code_point);
				layer.bindPopup('<b>Code: ' + feature.properties.code_point + '</b><p><b>Libellé: </b>' + feature.properties.libelle + '</p><b>Adresse: </b>' + feature.properties.adresse + '</p><a href="#popup1"><button onclick="'+fonction+'" class="btn btn-primary btn-sm text-white">edit</button></a>');
			}

			window.points = JSON.parse(response);

			window.lyrPoints = L.geoJSON(window.points, {
				pointToLayer: function x(features, coordinates) {
							return L.circleMarker(coordinates, {color: getPointColor(features.properties.secteur),
                                                fillColor: getPointColor(features.properties.secteur),
                                                fillOpacity: 1,
												radius: 5
                                                });
					},
				onEachFeature: onEachFeature
				}).addTo(map);
		},
		error: function e(error){
			alert("Error: "+ error);
		}
	});
	

	$.ajax({url:"{{path('getDepotss')}}",
		success: function(response){
			function onEachFeature(feature, layer) {
				layer.bindPopup('<b>Désignation: ' + feature.properties.designation + '</b>');
			}

			window.depots = JSON.parse(response);
			window.lyrDepots = L.geoJSON(window.depots, {
				pointToLayer: function x(features, coordinates) {
							return L.marker(coordinates);
					},
				onEachFeature: onEachFeature
				}).addTo(map);
		},
		error: function e(error){
			alert("Error: "+ error);
		}
	});

	function reactTo(element){
		if(element.checked){
			map.addLayer(window.lyrPoints);
		}
		else{
			map.removeLayer(window.lyrPoints);
		}
	}

	function showSecteurs(element){
		if(element.checked){
			map.addLayer(groupSecteurs);
		}
		else{
			map.removeLayer(groupSecteurs);
		}
	}
	function showQuartiers(element){
		if(element.checked){
			map.addLayer(window.lyrQuartiers);
		}
		else{
			map.removeLayer(window.lyrQuartiers);
		}
	}
	function showOrganismes(element){
		if(element.checked){
			map.addLayer(window.lyrOrganismes);
		}
		else{
			map.removeLayer(window.lyrOrganismes);
		}
	}
	function showDepots(element){
		if(element.checked){
			map.addLayer(window.lyrDepots);
		}
		else{
			map.removeLayer(window.lyrDepots);
		}
	}
	
	var drawPluginOptions = {
		position: 'topright',
		draw: {
		    polygon: false,
		    // disable toolbar item by setting it to false
		    polyline: false,
		    circle: false, // Turns off this drawing tool
		    rectangle: false,
		    marker: false,
		},
		edit: {
            featureGroup: groupSecteurs,
            remove: false,
            edit: true
       	}
	};
	var drawControl = new L.Control.Draw(drawPluginOptions);
	map.addControl(drawControl);
	var editableLayers = new L.FeatureGroup();
	map.addLayer(editableLayers);

	map.on('draw:created', function(e) {
	  var type = e.layerType;
	  window.layer = e.layer;

	  if (type === 'marker') {
	    window.layer.bindPopup('A popup!');
	  }

	  editableLayers.addLayer(window.layer);

	});


	function select(){
		var selected = [];
		window.lyrPoints.eachLayer(function (marker) {
	        if (!window.layer.contains(marker.getLatLng())) {
	            marker.remove();
	        }else{
				var m = marker.toGeoJSON();
				L.extend(m.properties, marker.properties);
				selected.push(m);
			}
			map.removeLayer(window.layer);
	    });
		console.log(selected);
	}


	//Get Location from gps
	var lc = L.control.locate({
	    position: 'topright',
	    strings: {
	        title: "Show me where I am."
		},
		initialZoomLevel: false,
		cacheLocation: true,
		showCompass: false,
		drawCircle: false
	}).addTo(map);

	
	function saveSectorization(){
		var secteursJson = groupSecteurs.toGeoJSON();
		$.ajax({
			url: "{{path('saveSectorization')}}",
			type: 'POST',
	        contentType: 'JSON',
	        data: JSON.stringify(secteursJson),
			success: function(response){
				document.getElementById("alert-success-content").innerHTML = "Données mises à jour avec success.";
				$('#alert-success').show();
				setTimeout(function() {$('#alert-success').hide()},3000);
			},
			error: function(error){
				document.getElementById("alert-danger-content").innerHTML = "Erreur du serveur.";
				$('#alert-danger').show();
				setTimeout(function() {$('#alert-danger').hide()},3000);
			}
		});
	}

	
	
	/*var legend = L.control({position: 'bottomleft'});
	legend.onAdd = function(map){
			var div = L.DomUtil.create('div', 'info legend'); 
			var grades = [10000,20000];
			var labels = ["<strong>Population</strong>"];
			for (var i = 0; i < grades.length-1; i++){
				var from = grades [i];
				var to = grades [i+1]-10000;
				labels.push("<i style='background:" + getColour(from + 10000) + "'></i> " + from + (to ? "&ndash;" + to : "+"));
			}
			div.innerHtml = labels.join("<br>");
			return div;
		};
	legend.addTo(map);

	*/

</script>
<script>
	function processAjaxData(response, urlPath){
		document.getElementById("popup1").innerHTML = response.html;
		document.title = response.pageTitle;
		window.history.pushState({"html":response.html,"pageTitle":response.pageTitle},"", urlPath);
	}
	
	window.onpopstate = function(e){
		if(e.state){
			document.getElementById("popup1").innerHTML = e.state.html;
			document.title = e.state.pageTitle;
		}
	};

	

	function getPoint(code){
		window.code = code;
		window.points.features.forEach(function(obj){
			if (obj.properties.code_point == code) {
				document.getElementById("libelle").setAttribute("value", obj.properties.libelle);
				document.getElementById("adresse").setAttribute("value", obj.properties.adresse);
				
				var dateDebut = new Date(obj.properties.debut_fenetre_temps1);
				var dateFin = new Date(obj.properties.fin_fenetre_temps1);
				document.getElementById("debut_fenetre_temps1").setAttribute("value", dateDebut.toString().split(" ")[4]);
				document.getElementById("fin_fenetre_temps1").setAttribute("value", dateFin.toString().split(" ")[4]);
			}
		});
		
		$('#bacs').empty();

		window.bacs;
		var url = "{{path('getBacs', {code_point: 'code'})}}";
		$.ajax({url: url.replace("code", code),
			success: function(response){
				window.bacs = JSON.parse(response);

				var select_bac = document.getElementById("bacs");

				var opt = document.createElement('option');
				opt.appendChild(document.createTextNode("Select Bac"));
				select_bac.appendChild(opt);

				window.bacs.forEach(function(obj){
					opt = document.createElement('option');
    				opt.appendChild( document.createTextNode(obj.code));
					opt.value = obj.code;
					select_bac.appendChild(opt);
				});
			},
			error: function e(error){
				alert("Error: "+ error);
			}
		});
	}

	$("#bacs").change(function(){
		var selectedBac = $(this).children("option:selected").val();
		window.bacs.forEach(function(obj){
			if (obj.code == selectedBac) {
				
				document.getElementById("volume").setAttribute("value", obj.volume);
				document.getElementById("typedechet").setAttribute("value", obj.typedechet);
				document.getElementById("typemat").getElementsByTagName("option").value = obj.typemat.charAt(0).toUpperCase() + obj.typemat.slice(1);
				document.getElementById("etat").value = obj.etat;
				document.getElementById("taux_remplissage").setAttribute("value", obj.tauxrempli);
				document.getElementById("date_installation").setAttribute("value", obj.dateinstal);
			}
		});
		
	});

	function editBac(){
		var data = JSON.stringify({
					"code_bac": parseInt(document.getElementById("bacs").value),
                    "volume": parseInt(document.getElementById("volume").value),
                    "nature_dechet": document.getElementById("typedechet").value,
                    "nature": document.getElementById("typemat").value,
                    "taux_remplissage": parseFloat(document.getElementById("taux_remplissage").value),
                    "date": document.getElementById("date_installation").value,
                    "etat": document.getElementById("etat").value
                });
		

        $.ajax({
            url: '{{path("editMapBac")}}',
            type: 'POST',
            contentType: 'JSON',
            data: data,
            success: function(response) { 
				alert("Bac n°" + document.getElementById("bacs").value + "a été modifié avec succes.");
            },
            error: function(XMLHttpRequest, textStatus, errorThrown)
            {
				alert("Erreur: " + errorThrown);
            }
        });
	}	

	function savePoint(){
		var data = JSON.stringify({
			code_point: window.code,
			libelle: document.getElementById("libelle").value,
			adresse: document.getElementById("adresse").value,
			debut_fenetre_temps1: document.getElementById("debut_fenetre_temps1").value,
			fin_fenetre_temps1: document.getElementById("fin_fenetre_temps1").value
		});

		console.log(data);

		$.ajax({
			url: "{{path('editMapsPoint')}}",
			method: 'POST',
			contentType: 'JSON',
			data : data,
			success: function(response){
				document.getElementById("alert-success-popup-content").innerHTML = response;
				$('#alert-success-popup').show();
				setTimeout(function() {$('#alert-success-popup').hide()},3000);
			},
			error: function(XMLHttpRequest, textStatus, errorThrown){
				alert("Erreur: " + errorThrown);
			}
		});
	}
</script>
</body>
</html>


