{% extends "base.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('css/table.css')}}">
{% endblock %}
{% block body %}
<div class="row">

	<form method="post" action="{{ path('parSecteur') }}" class="col md-9">
	<label for="secteur" style="float:left; margin-top:15px;">Choisir un secteur:</label>
	<select id="secteur" name="code" class="form-control col-md-3" style="float:left; margin-top:10px;">
		<option value="tout">Tout</option>
		<option value="C013-A11">C013-A11</option>
	</select>
		<button class="btn btn-outline-warning" style="float:left;" type="submit" value="filtrer">Filtrer</button>
	</form>
	<div class="col md-4">
		<a class="btn btn-success btn-add" href="{{path('addPoint')}}" value="add" type="submit">Ajouter</a>
	</div>	
</div>
 
<table class="table">
	<thead class="thead-dark">
		<tr>
		<th scope="col">Code</th>
		<th scope="col">Libelle</th>
		<th scope="col">Adresse</th>
		<th scope="col">Mode </th>
		<th scope="col">Activités</th>
		<th scope="col">Actions</th>
		</tr>
	</thead>
</table>
<div class="tableFixHead">
	<table class="table">
		<tbody>
		{% for point in points %}
			<tr>
				<td scope="row">{{ point.code_point }}</td>
				<td> {{ point.libelle }} </td>
				<td>{{ point.adresse }}</td>
				<td>{{ point.modecollecte }}</td>
				<td>{{ point.activites }}</td>
				<td>
					<div class="btn-group">
						<button class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></button>
						<button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
					</div>
				</td>
			</tr>
		{% endfor %}
		</tbody>
  	</table>
</div>
{% endblock %}

{% block javascripts %}

{% endblock %}